.button {
    background-color: var(--secondary-500);
    color: var(--white);
    display: flex;
    text-decoration: none;
    justify-content: center;
    border-radius: 20px;
    padding: 5px 30px;
    text-align: center;
    width: fit-content;
}