.games {
    width: 100%;

    &_top {
        padding: 0 16px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    @media screen and (min-width: 768px) {
        &_top {
            overflow-y: scroll;
            height: 505px;
        }
    }

    @media screen and (min-width: 992px) {
        &_top {
            height: 615px;
        }
    }
}