.dashboard {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;

    &_ctn {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    &_top, &_bot {
        display: flex;
        flex-direction: column;
        padding: 0 16px;
        gap: 20px;
    }

    &_top {
        & div {
            width: 100%;
        }
    }

    
    &_bot {
        & div {
            width: 100%;
        }
    }

    @media screen and (min-width: 768px) {

        &_top {
            flex-direction: row;
            gap: 50px;
        }

        &_bot {
            flex-direction: row;
            gap: 50px;
        }

        &_ctn {
            overflow-y: scroll;
            height: 478px;
        }
    }

    @media screen and (min-width: 992px) {
        &_ctn {
            overflow-y: scroll;
            height: 580px;
        }
    }
}